html {
    font-family: Inter, 'system-ui';
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: grid;
    place-items: center;

    background-color: #141625;
}

main {
    height: 400px;
    width: 480px;
    display: flex;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;

    border-radius: 25px 25px 215px 25px;
    background-color: #FFF;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    column-gap: 25px;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: #9A9696;
}

input {
    width: 90px;
    height: 10px;

    padding: 20px;

    border-radius: 8px;
    border: 1px solid #9A9696;

    font-size: 24px;
    font-weight: bold;
    color: #9A9696;
}

button {
    width: 450px;

    padding: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 8px;
    border: none;
    background-color: #3E54A3;

    cursor: pointer;

    transition: all 300ms;
}
button:hover {
    background-color: #2E3A87;
    transition: all 300ms;
}

p {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    
    margin: 0;
}

.output {
    font-family: Poppins, 'system-ui';
    font-style: italic;
    font-size: 60px;
    font-weight: 800;
    color: #151515;

    margin: 0;
}

span {
    color: #3E54A3;
}